{% extends 'layout_page.twig' %}

{% set page = 'files' %}

{% block content %}

<div class="breadcrumb">
  <span class="repo-root">
    <a href="{{ path('tree', {repo: repo, commitishPath: branch}) }}">{{ repo }}</a>
  </span>
    {% for breadcrumb in breadcrumbs %}
        <span class="separator">/</span>
        <span{% if loop.last %} class="final-path"{% endif %}>
          {% if not loop.last %}
              <a href="{{ path('tree', {repo: repo, commitishPath: branch ~ '/' ~ breadcrumb.path}) }}">{{ breadcrumb.dir }}</a>
          {% endif %}
          {% if loop.last %}{{ breadcrumb.dir }}{% endif %}
        </span>
    {% endfor %}
  <span class="separator">/</span>
</div>
<div style="clear:both"></div>

  <div class="commit-tease">
    <span class="float-right">
      Latest commit
      <a class="commit-tease-sha" href="/cllu/Semantic-Resume/commit/5682ae9b415f5e7291fd14524ed921fa12857a45">
        5682ae9
      </a>
      <span itemprop="dateModified"><relative-time datetime="2015-12-31T04:54:08Z" title="2015 M12 30 20:54 GMT-8">on Dec 30 2015</relative-time></span>
    </span>

    <span class="commit-author-section">
      <img class="avatar" height="20" src="https://avatars3.githubusercontent.com/u/677398?v=3&amp;s=40" width="20">
      <a href="/cllu" class="user-mention">cllu</a>
    </span>
    <a href="/cllu/Semantic-Resume/commit/5682ae9b415f5e7291fd14524ed921fa12857a45" class="message" title="Display telephone in header">Display telephone in header</a>
  </div>

    {% if files is not empty %}
  <div class="file-wrap">
    <table class="files">
            {% if parent is not null %}
            <tbody>
            <tr class="up-tree">
                <td></td>
                <td>
                    {% if not parent %}
                        <a href="{{ path('branch', {repo: repo, branch: branch}) }}">..</a>
                    {% else %}
                        <a href="{{ path('tree', {repo: repo, commitishPath: branch ~ '/' ~ parent}) }}">..</a>
                    {% endif %}
                </td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
            {% endif %}
      <tbody>
      {% for file in files %}
        <tr>
          <td class="icon">
            {% if file.type == "folder" or file.type == "symlink" %}
            <svg aria-hidden="true" class="octicon octicon-file-directory" height="16" version="1.1" viewBox="0 0 14 16" width="14">
              <path fill-rule="evenodd" d="M13 4H7V3c0-.66-.31-1-1-1H1c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1zM6 4H1V3h5v1z"></path>
            </svg>
            {% else %}
            <svg aria-hidden="true" class="octicon octicon-file-text" height="16" version="1.1" viewBox="0 0 12 16" width="12">
              <path d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"></path>
            </svg>
            {% endif %}
          </td>
          <td class="content">
            <span class="css-truncate css-truncate-target"><a href="
                    {%- if file.type == "folder" or file.type == "symlink" -%}
                        {{ path('tree', {repo: repo, commitishPath: branch ~ '/' ~ path ~ (file.type == "symlink" ? file.path : file.name)}) }}
                    {%- else -%}
                        {{ path('blob', {repo: repo, commitishPath: branch ~ '/' ~ path ~ (file.type == "symlink" ? file.path : file.name)}) }}
                    {%- endif -%}
            " title="{{ file.name }}">{{ file.name }}</a></span>
          </td>
          <td class="message">
            <span class="css-truncate css-truncate-target">
                  <a href="/cllu/Semantic-Resume/commit/5682ae9b415f5e7291fd14524ed921fa12857a45" class="message" data-pjax="true" title="Display telephone in header">{{ file.mode }}</a>
            </span>
          </td>
          <td class="age">
            <span class="css-truncate css-truncate-target"><time-ago datetime="2015-12-31T04:54:08Z" title="2015 M12 30 20:54 GMT-8">{% if file.size %}{{ (file.size / 1024) | number_format }} kb{% endif %}</time-ago></span>
          </td>
        </tr>

            {% endfor %}
      </tbody>
    </table>

  </div>
    {% else %}
        <p>This repository is empty.</p>
    {% endif %}

    {% if readme is defined and readme is not empty %}
        <div class="readme boxed-group">
            <h3>
            <svg aria-hidden="true" class="octicon octicon-book" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M3 5h4v1H3V5zm0 3h4V7H3v1zm0 2h4V9H3v1zm11-5h-4v1h4V5zm0 2h-4v1h4V7zm0 2h-4v1h4V9zm2-6v9c0 .55-.45 1-1 1H9.5l-1 1-1-1H2c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h5.5l1 1 1-1H15c.55 0 1 .45 1 1zm-8 .5L7.5 3H2v9h6V3.5zm7-.5H9.5l-.5.5V12h6V3z"></path></svg>
                {{ readme.filename }}
            </h3>
            <article>{{ readme.content }}</article>
        </div>
    {% endif %}

{% endblock %}
